ul{
    display: inline;
    position: absolute;
    margin: 0px;
    list-style: none;
    background-color: cadetblue;
    color: rgb(37, 52, 65);
    width: 100%;
    display: flex;
    padding: 10px;
    align-content: center;
}

li:hover{
    transition: sca;

}


.list1{
    -webkit-font-smoothing: antialiased;
    list-style: none;
    color: aliceblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    display: inline;
    position: relative;
    padding-left: 165px;
}

.list2{
    -webkit-font-smoothing: antialiased;
    list-style: none;
    color: aliceblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    display: inline;
    position: relative;
    padding-left: 390px;
}

.list3{
    -webkit-font-smoothing: antialiased;
    list-style: none;
    color: aliceblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    display: inline;
    position: relative;
    padding-left: 450px;
}

.headerPopup{
    position: absolute;
    display: inline-block;
    top: 42px;
    width: 18%;
    left: 105px;
}

.headerPopup{
    display: block;
    position: fixed;
    z-index: 2147483647 !important;  
  }